@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --page-width: 1120px;
  --background-color: #F0F0F0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

* {
  word-wrap: break-word;
  word-break: keep-all;
}

body {
  width: var(--page-width);
  min-height: 100vh;
  margin: auto;
  background-color: var(--background-color);
  display: grid;
  grid-template: 3rem 1fr / 12rem 1fr 12rem;
  row-gap: 1rem;
  column-gap: 0.5rem;
  grid-template-areas:
    "header header header"
    "navigator main profile";
}

header {
  grid-area: header;
  border-bottom: 1px solid #b4b4b4;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav {
  grid-area: navigator;
}

main {
  grid-area: main;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

#profile {
  grid-area: profile;
}

#background {
  position: absolute;
  z-index: -10;
  top: calc(50vh - 80vh / 2);
  left: calc(50vw - 80vw / 2);
}

#background>img {
  width: 80vw;
  height: 80vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  margin-bottom: 1rem;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.2rem;
}

.tags {}

.tag {
  display: inline-block;
  color: dodgerblue;
  text-decoration: underline;
  margin-right: 1rem;
}

time {
  display: inline-block;
  margin-bottom: 1rem;
  font-style: italic;
  font-size: 0.9em;
  color: rgba(0, 0, 0, 0.75);
}